:root {
  --header-height-xs:64px;
  --header-height-md:76px;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  top: 0px !important; 
 padding: 0 !important;
}
ul{
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* detail */
/********************************************** detail **********************************************/
table td{
  border-bottom: none !important;
}
.td__title--orange{
  color: #f56310 !important;
  font-weight: 700 !important;
  display: block !important;
  width: max-content !important;
}
#single-animal-text li:not(:last-child) {
  margin-bottom: 5px;
}
#single-animal-text ul,#single-animal-text ol{
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
}
#single-animal-text ol li {
  margin-left: 10px;
  text-align: left;
  display: block;
}
#single-animal-text {
  text-align: center;
  margin: 0;
}
#single-animal-text h3{
  padding-left: 1rem;
}
.wp-block-embed{
  display: none;
}
#h-{
  display: none;
}
#single-animal-text p,#single-animal-text ul li{
  text-align: left;
  line-height: 2em;
  margin-bottom: 1rem;
  padding:0 1rem;
}
.wp-block-heading{
  background-image: linear-gradient(to right,#eee,#eee);
  border-left: 10px solid #F56310;
  padding: 15px 0px 15px 10px;
  margin: 5px 0px 5px 0px;
  text-align: left;
  clear: both;
  font-size: 1.5rem;
}
.wp-block-image img{
  width: 100%;
  object-fit: cover;
}
#single-animal-text .has-text-align-center ,#single-animal-text .wp-element-caption >p {
  text-align: center;
}
.css-rorn0c-MuiTableContainer-root{
  overflow: hidden;
}
h5 {
  font-weight: 600;
}
.swiper-wrapper{
  filter: brightness(0.8);
}
#relatedArticlesMentioningTest{
  display: none;
}
hr{
  display: none;
}
.aligncenter.size-large figcaption p{
  text-align: center !important;
}
.wp-block-table.is-style-stripes {
  background-color: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-collapse: inherit;
  margin-right: 5px;
  border-spacing: 0;
}
figure.wp-block-table {
  border-radius: 0.35em;
  border: thin solid #000 !important;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.wp-block-table {
  overflow-x: auto;
}
figure {
  margin: 0 0 1rem;
  display: block;
}
.wp-block-table thead tr {
  background-color: #F56310;
  color: #fff;
  text-align: left;
}
.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th {
  border-color: transparent;
}
.wp-block-table .has-fixed-layout td, .wp-block-table .has-fixed-layout th {
  word-break: break-word;
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.wp-block-table tbody tr {
  border-bottom: thin solid #ddd;
  text-align: left;
}
.wp-block-table thead tr th {
  color: #fff;
}
.wp-block-table td, .wp-block-table th {
  border: 1px solid #333;
  padding: 0.5em;
}
.wp-block-table table {
  border-collapse: collapse;
  width: 100%;
}
/* Translate */
.skiptranslate {
  display: none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none;
}
.notranslate > button{
  cursor: pointer;
  outline: none;
  border: 1px solid #333;
  padding: 5px;
  font-weight: 600;
  margin: 4px;
  color: #000;
  background-color: #fff;
}
.notranslate > button:hover{
  color: #F56310;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

